#shipping-calculator .field {
  float: left;
  margin: 0 0.6em 1em 0;
  font-size: 15px
}  
#shipping-calculator .field label {
  display: block;
  margin: 0 0 .3em;
  font-size: 1em;
}
#shipping-calculator .field input[type=text] {
  display: inline-block;
  width: 150px;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: .4em .6em;
  font-size: 1em;
  border: 1px solid rgba(0,0,0,.15);
  outline: 0;
  border-radius: .3125em;
  -webkit-appearance: none;
}  
#shipping-calculator .field:last-child:before { 
  content: "\00A0"; display: block; margin: 0 0 .3em; font-size: 1em; 
}
#shipping-calculator #wrapper-response {
  clear: both;
}
@media (max-width: 800px) {
  #shipping-calculator .field {
    float: none;
  }
  #shipping-calculator .field:last-child:before { 
    content: none;
  }
}